html{
  font-family: sans-serif;
}

body{
  margin: 0px;
  background-color: #f5f5f5;
}

a{
  color: #212121;
  text-decoration: none;
}

.text-center{
    text-align: center;
}

/* Bagian Kerangka */
.container {
    margin: auto;
    padding: 0;
    width: 90%;
}

.container:before,
.container:after,
.row:before,
.row:after {
    content:"";
    display:table;
}

.container:after,
.row:after {
    clear:both;
}

.row {
    clear: both;
    margin: 10px 0 10px 0;
}

.col1, .col2, .col3, .col4,
.col5, .col6, .col7, .col8,
.col9, .col10, .col11, .col12 {
    display: block;
    float: left;
    line-height: 30px;
    margin: 0px;
    padding: 0;
}

.col1 {
    width: 8.33333333%;
}

.col2 {
    width: 16.66666667%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.33333333%;
}

.col5 {
    width: 41.66666667%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.33333333%;
}

.col8 {
    width: 66.66666667%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.33333333%;
}

.col11 {
    width: 91.66666667%;
}

.col12 {
    width: 100%;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.bg-white{
  background-color: white;
  border-bottom: 2px solid #2196F3;
}

/* logo image */
.logo_set{
	padding-right:5px;
	width:90%;
}

.logo_set_footer{
	padding-top: 80px;
	width:90%;
}

/* Featured Image */
.imgfeatured{
  margin-bottom: -10px;
  padding: 0px;
}

.img-clear{
  clear: both;
}

/*mini navbar */
.mini-nav{
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 12px;
  background: #2196F3;
  color:white;
}

.mini-nav a{
	color:white;
}

.nav{

}

/* Mega Menu */
.bg-menu{
  background-color: #1976D2;
  border-bottom: 3px solid #2196F3;
}
.mega-menu, .mega-menu >ul {
  position: relative;
  margin-top:0.5px;
  background-color: #1976D2;
  height: 50px;
}
.mega-menu >ul >li {
  display: inline-block;
  padding:15.5px 0;
  overflow: hidden;
}
.mega-menu >ul >li >a {
padding:17px;
font-weight: bold;
color: white;
text-decoration: none;
}

.mega-menu >ul >li >a:hover {
padding:17px;
font-weight: bold;
color:white;
text-decoration: none;
}
.mega-menu >ul >li:hover {
  background-color: #333;
  color: #1976D2;
  -webkit-transition:ease 0.3s;
}
.mega-menu .menu-detail {
  height: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.mega-menu >ul >li:hover >div.menu-detail {
  opacity: 1;
  height: 650px;
  width:100%;
  visibility: visible;
  top:50px;
  right:0;
  left: 0;
  z-index: 99;
  background-color: #1976D2;
  color:#fff;
  -webkit-transition:height 1s;
  -moz-transition:height 1s;
  transition:height 1s;
  border-top:3px solid #3399dd;
  overflow: hidden;
}

/* Sub mega menu */
.menu-detail {
  padding-left:20px;
  padding-right:20px;
}

/*--------Accordion-------*/
.acc-kontainer {
  width: 90%;
  margin: auto;
}

.acc-kontainer .acc-body {
  color: white;
  overflow: hidden;
  width: 98%;
  height: 0;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0);;
  background-color: rgba(255, 255, 255, 0.2);
  line-height: 28px;
  padding: 0 20px;
  box-sizing: border-box;
  transition: 0.0s;
  position: relative;
}


.acc-kontainer input:checked~.acc-body a {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 91%;
  color: white;
  border-bottom: 1px solid #1976D2;
}

.acc-kontainer input:checked~.acc-body a:hover {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 91%;
  color: white;
  border-bottom: 1px solid white;
}


.acc-kontainer label {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-weight: 400;
  box-sizing: border-box;
  z-index: 100;
}

.acc-kontainer input{
  display: none;
}

.acc-kontainer label:before {
  font-weight: bolder;
  float: right;
}

.acc-kontainer input:checked+label {
  background-color: rgba(255, 255, 255, 0.15);
}

.acc-kontainer input:checked+label:before {
  transition: 0.5s;
}

.acc-kontainer input:checked~.acc-body {
  color: white;
  font-size: 16px;
  padding: 20px;
  transition: 0.5s;
  height: 100%;
}

/* Input Group */
.input-group{
  margin-top: 15px;
}

.input-group input{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #BDBDBD;
  border-radius: 2px;
  color: #212121;
  width: 80%;
}

/* Button */
.button{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  background-color: #2196F3;
}

.button2{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0px;
  border-radius: 2px;
  color: #2196F3;
  font-weight: bold;
  border: 1px solid #2196F3;
}

/* Lantai */
h3 span{
    background-color: white;
    color: #2196F3;
    border-radius: 2px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.lantai{
  margin-top: 20px;
  margin-bottom: 20px;
}

.lantai-header{
  background-color: #2196F3;
  color: white;
  padding-top: 0.2px;
  padding-bottom: 0.2px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 5px solid #1976D2;
}

.lantai-body{
  background-color: white;
}

.lantai-gambar{
  width: 100%;
  margin-bottom: -10px;
  background-color: white;
}

/* card */
.card{
  color: #212121;
  clear: both;
  margin: 5px;
}

.card-header{
  border-bottom: 2px solid #2196F3;
  padding : 5px;
}

.card-header span{
  font-size: 15px;
  font-weight: bold;
}

.card-body{
  color: black;
  border: 1px solid #fafafa;

}

.card-footer{

}

/* breadcrumb */
.breadcrumb{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: #333;
}

.breadcrumb-active{
  font-weight: bold;
  font-size: 15px;
}

span a{
  color: #333;
  font-size: 15px;
}
span a:hover{
  color: #2196F3;
  text-decoration: underline;
}

/* Bagian Kaki (footer) */
.footer{
  color: white;
  width: 100%;
  margin-top: 40px;
  border-top: 5px solid #2196F3;
  background-color: #1976D2;
}

.panel-footer{
  margin-left: 5px;
  margin-right: 5px;
}

.panel-footer-header{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    border-bottom: 2px solid #FF4081;
}

.panel-footer-body a{
  color: white;
}

.footer-link{
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 91%;
  border-bottom: 1px solid #1976D2;
}

.footer-link:hover{
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 91%;
  border-bottom: 1px solid white;
}
.footer-paling-bawah{
    border-top: 3px solid #333;
    background-color: #212121;
    color: white;
}

/* Costume */
.box-kategori{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid #BDBDBD;
}

.judul-kategori{
    font-size: 30px;
}

.jumlah-produk{
  color: grey;
  font-size: 15px;
}

.list-brand{
  margin-left:5px;
  margin-right:5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 93%;
}

.list-brand:hover{
  margin-left:5px;
  margin-right:5px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: #2196F3;
  width: 93%;
}

.center{
  text-align: center;
}

/* Produk Content */

.product-content{
  padding: 5px;
  height: 485px;
  border: 0.2px solid white;
}

.product-content:hover{
  border: 0.2px solid #f5f5f5;
}

.product-image{
  height: 370px;
}

.product-image img{
  width: 100%;
}

.product-info{
  position: relative;
  width: 100%;
  background-color: white;
}

.product-info b{
  font-size: 15px;
}

.product-info span{
  font-size: 12px;
}

.price{
  color: #2196F3;
}

/* Penomoran Halaman */
.navigation-page{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* kotak gambar detail-product*/
.box-preview{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.img-product-preview img{
  margin-bottom: 5px;
  width: 100%;
}

.img-product{
  margin: 5px;
}

.img-product img{
  width: 100%;
}

/* Sidebar product */
.sidebar-product{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  border-left: 1px dashed #BDBDBD;
  height: 100%;
}

/* box deskripsi */
.tab_container{
  width:90%;
  margin:0 auto;
  padding-top:10px;
  position:relative
}

.tab_container input,section{
  clear:both;
  padding-top:10px;
  display:none
}

.tab_container label{
  font-weight:700;
  font-size:14px;
  display:block;
  float:left;
  width:20%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left:1.5em;
  padding-right:1.5em;
  color:#757575;
  cursor:pointer;
  text-decoration:none;
  text-align:center;
  background:#fff;
  border-bottom:2px solid #f0f0f0;
}

#tab1:checked ~ #content1,#tab2:checked ~ #content2,#tab3:checked ~ #content3,#tab4:checked ~ #content4,#tab5:checked ~ #content5{
  display:block;
  padding:20px;
  font-size: 13px;
  background:#fff;
  color:#333;
  border-bottom:2px solid #f0f0f0;
}

#content2 table{
  font-size: 13px;
}

.tab_container .tab-content p,.tab_container .tab-content h3{
  -webkit-animation:fadeInScale 0.7s ease-in-out;
  -moz-animation:fadeInScale 0.7s ease-in-out;
  animation:fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3{
  text-align:center;
}

.tab_container [id^="tab"]:checked + label{
  background:#fff;
  border-bottom: 2px solid #2196F3;
}

.tab_container [id^="tab"]:checked + label .fa{
  color:#09C;
}

.tab_container label .fa{font-size:1.3em;margin:0 0.4em 0 0;display:inline-block;width:1.28571429em;height:auto;float:none;margin-left:-15px}
}
/*Media query*/
@media only screen and (max-width:900px){
  label span{
    display:none;
  }

  .tab_container{
    width:98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale{
  0%{transform:scale(0.9);opacity:0}
  100%{transform:scale(1);opacity:1}
}

.clearfix:before,.clearfix:after{
  content:" ";
  display:table;
}

/* CSS kotak transaksi*/
.box-transaksi{
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  width: 95%;
  border-radius: 5px;
}

.box-transaksi-header{
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px 5px 0px 0px;
  height: 60px;
}

.box-transaksi-body{
  padding: 15px;
  background-color: #fffff;
  border: 2px solid #f5f5f5;
  border-radius: 0px 0px 5px 5px;
  height: 160px;
}

.box-alamat{
  line-height: 1.5;
}

.transaksi-font{
  color: #757575;
}
